/* your styles go here */



.img-wrapper {
	position:relative;
    width: 100%;
    height:auto;
}

.img-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#button1 {
	float:right;
	background:#da0554;
	border-color:#da0554;
	width:170px;
	height:70px;
}

#button2 {
	float:right;
	background:#aeec23;
	border-color:#aeec23;
	width:170px;
	height:70px;
}
/*.container .btn:hover {
    background-color: black;
}*/

	